h1 {
    text-align: center;
    color: cornflowerblue;
  }

  img{
      max-height: 11.5rem;
      max-width: 10rem;
      min-width: 10rem;
      min-height: 11.5rem;
      border-radius: 20px;
  }

  button{
      padding: .3rem;
      border-radius: 15px;
  }