h1 {
    text-align: center;
    color: cornflowerblue;
  }
  body {
    background-color: cornflowerblue;

  }
  
  main {
    /* margin-right: 20px;
    margin-left: 20px; */
    background-color: white;
  }

  img{
      max-height: 11.5rem;
      max-width: 10rem;
      min-width: 10rem;
      min-height: 11.5rem;
      border-radius: 20px;
  }

  button{
      padding: .3rem;
      border-radius: 15px;
  }

  nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

#rant{
    position: relative;
    right: 49%;
}

#rantLabel{
    position: relative;
    right: .65%;
}

#editBttn{
    position: fixed;
    top: 71.15%;
    left: 10.85%;
    display: inline;

}

#commentBttn{
    position: fixed;
    top: 71.15%;
    left: 6%;
    display: inline;
}

img{
    /* margin-top: 1px;
    margin-bottom: 1px; */
    padding-top: 6px;
    padding-bottom: 6px;
}